<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterUser</servlet-name>
  	<display-name>RegisterUser</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.RegisterUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<display-name>RegisterUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginadminServlet</servlet-name>
  	<display-name>LoginadminServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.LoginadminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<display-name>SearchServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayUserServlet</servlet-name>
  	<display-name>DisplayUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.DisplayUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAdminPassword</servlet-name>
  	<display-name>UpdateAdminPassword</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.UpdateAdminPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsersCount</servlet-name>
  	<display-name>UsersCount</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.UsersCount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeactivateAccount</servlet-name>
  	<display-name>DeactivateAccount</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.DeactivateAccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendFriendRequestServlet</servlet-name>
  	<display-name>SendFriendRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.SendFriendRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFriendRequestServlet</servlet-name>
  	<display-name>ViewFriendRequestServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.ViewFriendRequestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFriendsServlet</servlet-name>
  	<display-name>ViewFriendsServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.ViewFriendsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPostServlet</servlet-name>
  	<display-name>AddPostServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.AddPostServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPosts</servlet-name>
  	<display-name>ViewPosts</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.ViewPosts</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DisplayFriendsPost</servlet-name>
  	<display-name>DisplayFriendsPost</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.DisplayFriendsPost</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Likes</servlet-name>
  	<display-name>Likes</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.Likes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Comments</servlet-name>
  	<display-name>Comments</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.Comments</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.chainsys.socialmediaapp.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterUser</servlet-name>
  	<url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginadminServlet</servlet-name>
  	<url-pattern>/LoginadminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayUserServlet</servlet-name>
  	<url-pattern>/DisplayUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdminPassword</servlet-name>
  	<url-pattern>/UpdateAdminPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UsersCount</servlet-name>
  	<url-pattern>/UsersCount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeactivateAccount</servlet-name>
  	<url-pattern>/DeactivateAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendFriendRequestServlet</servlet-name>
  	<url-pattern>/SendFriendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFriendRequestServlet</servlet-name>
  	<url-pattern>/ViewFriendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFriendsServlet</servlet-name>
  	<url-pattern>/ViewFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPostServlet</servlet-name>
  	<url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPosts</servlet-name>
  	<url-pattern>/ViewPosts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayFriendsPost</servlet-name>
  	<url-pattern>/DisplayFriendsPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Likes</servlet-name>
  	<url-pattern>/Likes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Comments</servlet-name>
  	<url-pattern>/Comments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>
